nossa-histria {
  background-color: #4c001e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nossa-histria .div {
  background-color: #4c001e;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.nossa-histria .overlap {
  position: absolute;
  width: 1440px;
  height: 114px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-2.svg);
  background-size: 100% 100%;
}

.nossa-histria .logo {
  position: absolute;
  width: 172px;
  height: 78px;
  top: 3px;
  left: 603px;
}

.nossa-histria .overlap-group {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 0;
  left: 0;
  background-color: #93221f;
  border-radius: 39.2px;
}

.nossa-histria .line {
  position: absolute;
  width: 2px;
  height: 7px;
  top: 36px;
  left: 13px;
}

.nossa-histria .img {
  position: absolute;
  width: 2px;
  height: 9px;
  top: 36px;
  left: 33px;
}

.nossa-histria .line-2 {
  position: absolute;
  width: 2px;
  height: 12px;
  top: 33px;
  left: 48px;
}

.nossa-histria .line-3 {
  position: absolute;
  width: 2px;
  height: 10px;
  top: 36px;
  left: 53px;
}

.nossa-histria .line-4 {
  position: absolute;
  width: 2px;
  height: 15px;
  top: 32px;
  left: 18px;
}

.nossa-histria .line-5 {
  position: absolute;
  width: 2px;
  height: 29px;
  top: 24px;
  left: 23px;
}

.nossa-histria .line-6 {
  position: absolute;
  width: 2px;
  height: 27px;
  top: 26px;
  left: 38px;
}

.nossa-histria .line-7 {
  position: absolute;
  width: 2px;
  height: 29px;
  top: 24px;
  left: 62px;
}

.nossa-histria .line-8 {
  position: absolute;
  width: 2px;
  height: 20px;
  top: 29px;
  left: 28px;
}

.nossa-histria .line-9 {
  position: absolute;
  width: 2px;
  height: 17px;
  top: 31px;
  left: 43px;
}

.nossa-histria .line-10 {
  position: absolute;
  width: 2px;
  height: 20px;
  top: 29px;
  left: 58px;
}

.nossa-histria .overlap-2 {
  position: absolute;
  width: 85px;
  height: 61px;
  top: -1px;
  left: 87px;
}

.nossa-histria .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #93221f;
  font-size: 29.4px;
  letter-spacing: 0;
  line-height: normal;
}

.nossa-histria .text-wrapper-2 {
  position: absolute;
  width: 85px;
  top: 34px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #93221f;
  font-size: 29.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.nossa-histria .line-11 {
  position: absolute;
  width: 29px;
  height: 2px;
  top: 38px;
  left: 2px;
}

.nossa-histria .line-12 {
  position: absolute;
  width: 22px;
  height: 2px;
  top: 38px;
  left: 58px;
}

.nossa-histria .vector {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 11px;
  left: 60px;
}

.nossa-histria .vector-2 {
  top: 36px;
  left: 36px;
  position: absolute;
  width: 5px;
  height: 5px;
}

.nossa-histria .line-13 {
  position: absolute;
  width: 2px;
  height: 16px;
  top: 17px;
  left: 61px;
}

.nossa-histria .vector-3 {
  top: 68px;
  left: 148px;
  position: absolute;
  width: 5px;
  height: 5px;
}

.nossa-histria .perfil {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 2px;
  left: 1340px;
}

.nossa-histria .menu {
  position: absolute;
  width: 56px;
  height: 28px;
  top: 28px;
  left: 45px;
}

.nossa-histria .line-14 {
  position: absolute;
  width: 56px;
  height: 6px;
  top: 22px;
  left: 0;
}

.nossa-histria .line-15 {
  position: absolute;
  width: 56px;
  height: 6px;
  top: -6px;
  left: 0;
}

.nossa-histria .line-16 {
  position: absolute;
  width: 56px;
  height: 6px;
  top: 8px;
  left: 0;
}

.nossa-histria .overlap-3 {
  position: absolute;
  width: 1144px;
  height: 820px;
  top: 133px;
  left: 148px;
  background-color: #93221f;
}

.nossa-histria .p {
  position: absolute;
  width: 622px;
  top: 266px;
  left: 248px;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.nossa-histria .voltar-para-nossa-wrapper {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 670px;
  left: 878px;
  background-color: #4c001e;
  border-radius: 90px;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.nossa-histria .voltar-para-nossa {
  position: absolute;
  top: 21px;
  left: 14px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.nossa-histria .text-wrapper-3 {
  position: absolute;
  top: 78px;
  left: 299px;
  font-family: "Hammersmith One-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 85px;
  letter-spacing: 0;
  line-height: normal;